.home-container{
    display: flex;
    flex-direction: column;
    text-align: center;
}
.header-accueil {
    display: flex;
    flex-direction: column;
}
.button-inscri{
    width: fit-content;
    border-radius: 25px;
    color: white;
    background-color: #FFBC6E;
    font-size: 15px;
    padding-right: 20px;
    align-self: center;
    justify-self: center;
    border-color: transparent;
}
.button-inscri:hover{
    width: fit-content;
    border-radius: 25px;
    color: white;
    background-color: #FFBC6E;
    font-size: 15px;
    padding-right: 20px;
    align-self: center;
    justify-self: center;
    border-color: transparent;
}
.button-inscri:focus{
    width: fit-content;
    border-radius: 25px;
    color: white;
    background-color: #FFBC6E;
    font-size: 15px;
    padding-right: 20px;
    align-self: center;
    justify-self: center;
    border-color: transparent;
}

.numero-vert{
    background-color: #84E0BE;
    border-radius: 15px;
    width: fit-content;
    padding-left: 20px;
    padding-right: 10px;
    align-self: center;
    display: flex; 
}
.numero-vert img{
    width: 50px;
    height: 60px;
}
.stat-container{
    margin-top: 20px;
    text-align: center;
}