.nav{
    position: absolute;
    display: flex;
    flex-direction: row;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 10px;
    width: 95%;
    
    
}
.logoNav{
    display: flex;
    flex-direction: row;
    align-content: center;
}
.navbar-text{
    float: right;
}
.navbar-text a{
    text-decoration: none;
    color: #2E4765;
    font-size: 18px;
    display: block;
  text-align: center;
  padding: 13px;
}
.navbar-text a{
    text-decoration: none;
    color: #2E4765;
    font-size: 15px;
    display: block;
    text-align: center;
    padding: 16px;
}

.navbar-menu-items{
    width: 100%;
    list-style-type: none;
    float: left;
}
.navbar-text-citoyen{
    float: right;
}
.navbar-text-citoyen a{
    background-color: #ABABFD;
    border-radius: 50px;
    width: fit-content;
    text-decoration: none;
    color: white;
    font-size: 15px;
    display: block;
    text-align: center;
    padding: 13px;
}