.contentInscri{
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 100vh;
    margin-left: auto;
    margin-right: auto;
    display: table-cell;
    vertical-align: middle;
    
}