.content{
    background-color: #F5F6FA;
    height: 100vh;
    margin-left:300px;
    padding: 20px;
    border-radius: 30px;
    position: relative;
    color: #2E4765;
    display: flex;
    flex-direction: column;
}
.form{
    align-self: center;
    justify-self: center;
    background-color: white;
    border-radius: 25px;
    padding: 20px;
    margin-top: 50px;
    width: 50%;
}
